* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #555555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    /*This is the same as margin: 0     auto    0         auto; */
    /*                    margin: top   left    bottom    right;*/
    margin: 0 auto 0 auto;
}

header { /*background-image url(location of image, linear-gradient adds a gradients*/
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/hero.jpg);
    /*This will make the background(img) fit to header*/
    background-size: cover;
    /*This will center the header image*/
    background-position: center;
    /*This will make the header 100% of the viewable area*/
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    /*This translate to half of top and left TODO research transform for css*/
    transform: translate(-50%, -50%);
}

h1 {
    margin: 0 0 20px 0;
    color: #ffffff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #ffffff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    /*TODO It would probably be nice to have both buttons switch characteristic if one or the other is hovered*/
    /*background-color: rgba(0,0,0,0);*/
    border: 1px solid #e67e22;
    color: #ffffff;

}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #ffffff;
}